os
shutil
concurrent.futures
time
pickle
path
python-multipart==0.0.6
pandas==2.1.2
starlette==0.27.0
retina-face==0.0.13
uvicorn==0.13.1
pyngrok==7.0.0
opencv-python==4.8.0.76
deepface==0.0.79
starlette==0.27.0
fastapi==0.104.1